---
layout: experience
company: 'FIRST Robotics 2204'
role: Captain / SW Lead
dateStart: '2020-09-01'
dateEnd: '2024-05-01'
logo: first.svg
url: https://firstinspires.org
tags:
  - robotics
  - leadership
published: true
commits:
  - ran team meetings and made the calls when things moved fast
  - led 30+ students across design, fabrication, electrical, software, and business
  - raised $35k+ and poured in 1.2k+ hours to get us to competition
---
