---
layout: experience
company: Uber
role: SWE Intern
dateStart: '2021-06-01'
dateEnd: '2021-08-01'
logo: uber.svg
url: https://uber.com
tags:
  - backend
  - devops
  - cloud
published: true
commits:
  - Deploy Dockerized backend services on Google Cloud (Compute Engine, Cloud Run) for internal tooling
  - Design and implement E2E CI/CD pipelines automating build, test, and deployment workflows
  - Automate infrastructure provisioning with IaC and integrate monitoring/logging
---
