---
layout: experience
company: UC Berkeley - EECS Department
role: Academic Intern
dateStart: '2023-06-01'
dateEnd: '2023-08-01'
logo: cal-seal.svg
url: https://cs.berkeley.edu
tags:
  - teaching
  - cs61a
published: true
commits:
  - helped run labs and gave mini-lectures for cs61a (structure and interpretation of computer programs)
  - supported one of berkeley's biggest courses, 1.5k+ students
---
