<footer class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <ul class="list-inline social-icons mb-5">
          {{ range .Site.Params.social }}
          <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{.icon}}"></i></a></li>
          {{ end }}
        </ul>
        <hr class="mx-auto border-default" style="width: 90px;">
        <p class="mt-5" id="copyright">&copy; {{ .Date.Format "2006" }} James Ding. All Rights Reserved. <a href="https://github.com/twangodev/twangodev">View Source</a></p>
      </div>
    </div>
  </div>
</footer>


{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify }}
<script src="{{ $script.Permalink }}"></script>

{{ "<!-- google analitycs -->" | safeHTML }}
{{ with .Site.Params.google_analitycs_id}}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ . }}');
</script>
{{ end }}
